{%extends 'layout.html'%}
{%block body%}
<h1>Team Amazon</h1>
<p>I see you have chose the way for the Bezos this path is filled with Bald heads, no taxes and mistresses. Enjoy :)</p>
<table class="table table-hover">
  <thead>
    <tr>

      <th scope="col">Joke</th>
    </tr>
  </thead>
  <tbody>
        {%for i in jokes%}
        <tr><td>{{i}}</td></tr>
        {%endfor%}
  </tbody>
</table>
<form action="" method="POST">
  Enter Joke: <input type="text" name="joke">
  <input type="submit">
</form>
<a href="{{url_for('index')}}">Home</a>
{%endblock%}
