{%extends 'layout.html'%}
{%block body%}
<h1>Team Google</h1>
<p>you chosen the way of the Goog, and the unfaithful Sergie Brin (He never claimed UMD)</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Joke</th>
    </tr>
  </thead>
  <tbody>
        {%for i in jokes%}
          <tr><td>{{i}}</td></tr>
        {%endfor%}
  </tbody>
</table>
<form action="" method="POST">
  Enter Joke: <input type="text" name="joke">
  <input type="submit">
</form>
<a href="{{url_for('index')}}">Home</a>
{%endblock%}
